{extend name="common/public"/}
{block name="content"}
<div class="am-g">
  <div class="am-u-sm-12">
  	<table class="am-table admin-table sptable">
  		<thead>
	  		<tr>
	  			<th style="width:70px;">ID</th>
	  			<th>用户组</th>
	  			<th>成员ID</th>
	  			<th>状态</th>
	  			<th style="width:150px;">操作</th>
	  		</tr>
  		</thead>
  		<tbody>
	  		{volist name="rows" id="vo"}
	  		<tr>
	  			<td>{$vo.id}</td>
	  			<td>{$vo.title}</td>
	  			<td>{$vo.users}</td>
	  			<td>{$vo.state==1 ? '正常' : '关闭'}</td>
	  			<td><a href="{:url('auth',['id'=>$vo.id])}">权限</a> &nbsp;&nbsp;&nbsp;<a href="{:url('edit',['id'=>$vo.id])}">编辑</a> &nbsp;&nbsp;&nbsp;<a href="{:url('del',['id'=>$vo.id])}" onClick="delcfm()">删除</a></td>
	  		</tr>
	  		{/volist}
	  		<tr>
	  			<td colspan="5"><a class="am-btn am-btn-primary am-radius am-btn-sm" href="{:url('add')}">新增用户组</a></td>
	  		</tr>
	  		<tr>
	  			<td colspan="10"><span class="admin-page-info">共{$rows->lastPage()}页/{$rows->total()}条记录</span>
	  				{$rows->render()|raw}</td>
	  		</tr>
  		</tbody>
  	</table>
  </div>
</div>
{/block}