{extend name="common/public"/}
{block name="content"}
<div class="am-g">
  <div class="am-u-sm-centered admin-login">
    <form method="post" class="am-form">
      <label for="email">账户:</label>
      <input type="text" name="user">
      <br>
      <label for="password">密码:</label>
      <input type="password" name="password">
      <br>
      <label for="captcha" class="captcha">验证码: {:captcha_img()}</label>
      <input type="text" name="captcha">
      <br>
      <label for="remember-me">
        <input id="remember-me" type="checkbox">
        记住密码
      </label>
      <br />
      <div class="am-cf">
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
        <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">
      </div>
    </form>
  </div>
</div>
{/block}
{block name="css"}
<style type="text/css">
	.admin-login{width:350px;}
	.admin-login .captcha img{height:35px;}
</style>
{/block}