{extend name="common/public"/}
{block name="content"}
<div class="am-g">
	<form method="post" class="am-form am-u-sm-12 admin-form">
		<table class="am-table">
		<tbody>
			<tr>
				<td style="width:100px;">用户名:</td><td><input type="text" name="user" value=""></td>
			</tr>
			<tr>
				<td>昵称:</td><td><input type="text" name="nickname" value=""></td>
			</tr>
			<tr>
				<td>头像:</td><td><div class="face" style="display:inline-block;width:45px;height:45px;"></div> <div class="am-btn am-btn-primary am-radius am-btn-sm ajax-file" data-upurl="{:url('upFace')}" data-upname="upfile" data-uptype="image" data-iptname="face" data-box=".face">选择图片</div></td>
			</tr>
			<tr>
				<td>密码:</td><td><input type="password" name="password" value=""></td>
			</tr>
			<tr>
				<td>状态:</td>
				<td>
					<label class="am-radio-inline"><input type="radio" name="state" value="1" checked> 正常</label>
					<label class="am-radio-inline"><input type="radio" name="state" value="0"> 关闭</label>
				</td>
			</tr>
			<tr>
				<td></td><td><input type="submit" name="" value="提 交" class="am-btn am-btn-primary am-btn-sm"></td>
			</tr>
    	</tbody>
		</table>
	</form>
</div>
{/block}